.listItem {
	font-size: 24upx;
	background: #fff;
}
.dry {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dry image {
	width: 72upx;
	height: 72upx;
	border-radius: 50%;
	margin-right: 20upx;
}
.info {
	display: flex;
	align-items: center;
	font-size: 28upx;
}
.info text {
	color: #999999;
	font-size: 24upx;
	margin-left: 10upx;
}
.tag {
	display: flex;
}
.tag view {
	margin-left: 24upx;
	padding: 10upx 18upx;
	border: 1px solid #333;
	border-radius: 4upx;
}
.tag .red {
	color: #EC5754;
	border: 1px solid #EC5754;
}	
.num {
	margin-top: 20upx;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}				
.num > view {
	width: 49%;
	overflow: hidden;
}				
.num .tal {
	text-align: left;
}
.num .tar {
	/* text-align: right; */
}
.num view view {
	color: #999999;
	margin-bottom: 10upx;
	white-space: nowrap;
}